<p>Dear, User</p>
<p>
    To reset your password
    <a href="{{ url }}">
        click here
    </a>
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url }}</p>
<p>If your have not requested a password reset simply ignore this message.</p>
<p>Sincerely</p>
<p>Movie-bag Support Team</p>

